body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    

}


h1 {
    line-height: 2;
    margin: 50px auto 0 auto ;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    font-family: cursive;
}

.topcontainer {
    background-color: #E4F9F5; 
    padding-top: 100px;
    position: relative;

  }

.middle-container {
    margin: 100px auto;



}

.bottom-container {
    
    background-color: #66BFBF;
    margin-bottom: 0;
    line-height: 5;
}

.footer-link {
    margin-top: 40px;
    color: #11999E;
    padding: 50px;
    position: relative;
    top: 30px;
    
}
.btn {
    color: #11999E;
}


.bottom-cloud {
    position: absolute;
}


.top-cloud {
    position: absolute;
    top: 50px;
    right: 30%;
}



.skill-row {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
    
    
}



.computer {
    width: 25%;
    float: left;
    margin-right: 100px;
    border-radius: 50%;
}

.chilly {
    width: 25%;
    float: right;
    margin-left: 100px;
}


.nutella {
    color: #40514E;
}

.dotted-lines {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 10px;
    width: 5%;
}

.copy-right {
    color: white;
}

.BUTTON_PYJ {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 25px;
   font-weight: 100;
   padding: 10px;
   background-color: #66BFBF;
   text-shadow: 1px 1px 20px #000000;
   border: solid #66BFBF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
































